/* 
Styles order
1. Possition (display, position etc)
2. Box Model (padding, margin, sizes, etc)
3. Typography (font family, sizes, colores)
4. Visual styles (shadow box, border radius etc)
5. Miscelanous or others 
*/

:root {
  /* COLORS */
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --warm-black: #201E1C;
  --warm-black1: #282623;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --just-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header{
  position: relative;
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-items: center;
}
.header--title-container {
  width: 90%;
  max-width: 900px;
  min-width: 288px;
  height: 170px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  color:var(--just-white);
}
.header--title-container p {
  margin-top: 24px;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 18px;
  color:var(--soft-orange);
}
.header--title-container .header--button {
  position: absolute;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 4px;
  width: 228px;
  top: calc(100% - 24px);
	left: calc(50% - 114.5px);
  height: 48px;
  background: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  color:var(--warm-black);
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: bold;
}

.header--title-container span{
  width: 25px;
  height: 23px;
  background-image: url('https://icongr.am/feather/chevron-down.svg?size=128&color=282623');
  background-repeat: no-repeat;
  background-size: contain;
}

/* MAIN */
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container{
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}